<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Final.karuna">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".videos.testing.TestingDepression"></activity>
        <activity android:name=".videos.Councelling" />
        <activity android:name=".AddAlarm" />
        <activity android:name=".videos.VideoPlayer" />
        <activity android:name=".admin.AddMentalArticles" />
        <activity android:name=".admin.AddPhysicalArticles" />
        <activity android:name=".admin.AddSpiritualArticles" />
        <activity android:name=".admin.AdminAddArticles" />
        <activity android:name=".videos.DisplayVideos" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".videos.testing.Testing" />
        <activity android:name=".DashBoard" />
        <activity android:name=".physicalfitness.yoga.Pranayam" />
        <activity android:name=".physicalfitness.physicalexercises.PhysicalAbsExercises" />
        <activity android:name=".physicalfitness.physicalexercises.PhysicalLegsExercises" />
        <activity android:name=".physicalfitness.physicalexercises.PhysicalBackExercises" />
        <activity android:name=".physicalfitness.physicalexercises.PhysicalBicepsExercises" />
        <activity android:name=".physicalfitness.physicalexercises.PhysicalChestExercises" />
        <activity android:name=".physicalfitness.yoga.SuryaNamaskar" />
        <activity android:name=".physicalfitness.yoga.PragyaYog" />
        <activity android:name=".physicalfitness.yoga.YogaBeginner" />
        <activity android:name=".MainBottomNavigation" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>